
<div id="badge" class="row hide-on-med-and-down">
   
    <div class="collection  col offset-m0" style="left: 0px;">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><span class="new badge">1</span><i class="material-icons">keyboard_arrow_down</i>آخرین اخبار</div>
                <div class="collapsible-body"><p>سایت از تاریخ 4/1 شروع به کار میکند</p></div>
            </li>
            <li>
                <div class="collapsible-header"><span class="new badge">1</span><i class="material-icons">keyboard_arrow_down</i>آخرین رویداد ها</div>
                <div class="collapsible-body"><p>محصولات جدید به زودی اضافه میشود</p></div>
            </li>
        </ul>
        <a href="#!" class="collection-item">test1<span class="badge">1</span></a>
        <a href="#!" class="collection-item"><span class="new badge">4</span>test2</a>
        <a href="#!" class="collection-item">test3</a>
        <a href="#!" class="collection-item"><span class="badge">9</span>test4</a>
        <a href="#!" class="collection-item">test5</a>
        <a href="#!" class="collection-item">test6</a>
       
    </div>
   
</div>
