
<div id="footer">
    
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="footerlink col m3 col l3 offset-l2 s6">
                    <h5 class="white-text">دسته4</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="footerlink col m3 col l3 offset-l2 s6">
                    <h5 class="white-text">دسته3</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
                
                <div class="footerlink col m3 col l3 offset-l2 s6">
                    <h5 class="white-text">دسته2</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="footerlink col m3 col l3 offset-l2 s6">
                    <h5 class="white-text">دسته1</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>

                <div class="textfooter col m6 col l6 s12">
                    <h5 class="white-text">چارگوش</h5>
                    <p class="grey-text text-lighten-4"> 
                    عرضه کننده انواع صنایع دستی عرضه کننده انواع صنایع 
                    دستی عرضه کننده
                    انواع صنایع دستی عرضه کننده انواع صنایع دستی
                        عرضه کننده انواع صنایع دستی عرضه کننده انواع صنایع
                        دستی عرضه کننده
                        انواع صنایع دستی عرضه کننده انواع صنایع دستی
                        عرضه کننده انواع صنایع دستی عرضه کننده انواع صنایع
                        دستی عرضه کننده
                        انواع صنایع دستی عرضه کننده انواع صنایع دستی
                    </p>
                    
                </div>
                <div class="responsive-img logofooter col m6 col l6 col s12 center">
                    <img src="../img/logoChargoosh.png" />
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                © 2017 Copyright FarjamRayan  
            </div>
        </div>
    </footer>
</div>
