
<div class="hide-on-med-and-down row container">
    <div id="header" class=" col m6">
        
        <div class="col m6 col s12 center">
            <a href="https://instagram.com/chargosh1"><i class="material-icons">camera_alt</i>instagram/chargosh1</a>
        </div>
        <div class="col m6 col s12 center">
            <a href="#"><i class="material-icons">phone</i> 034+3422162</a>
        </div>
        <div class="col m6 col s12 center">
            <a href="#"><i class="material-icons">near_me</i>telegram/chargosh1</a>
        </div>
       

    </div>

    <div id="logo" class="col m6 col s12">
       <img style="width:80px" src="../img/logoChargoosh.png" />
        <p>سایت چارگوش عرضه کننده انواع صنایع دستی</p>
    </div>
   </div>
